.sign-in-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.sign-in-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 20px;
}

.sign-in-app-logo {
  width: 120px;
  margin-bottom: 16px;
}

.sign-in-app-title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
  line-height: normal;
}

.microsoft-logo-wrapper {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
}
