:host {
  --color-primary: #0f6cbd;
  --color-primary-selected: #0f548c;
  --color-primary-hover: #115ea3;
  --color-disabled: #f0f0f0;
  --color-primary-text-disabled: #bdbdbd;
  --color-secondary-button-text-disabled: #959595;
  --color-secondary-button-border: #d1d1d1;
  --color-secondary-hover: #f5f5f5;
  --color-standard-text: #242424;
  --color-placeholder-text: #707070;
  --color-divider: #e0e0e0;
  --color-stroke: #616161;
  --color-progress-ring-background: #bad9fa;
  --border-radius-medium: 4px;
  --font-size-base-400: 16px;
  --font-size-base-300: 14px;
  --font-weight-semiBold: 600;
  --stroke-width-thin: 1px;
  --stroke-width-thick: 2px;
  --shadow4Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.25);
  --shadow8: 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.14);
  font-family: 'Segoe UI', 'Segoe UI Web (West European)', sans-serif;
}

app-account {
  display: block;
  margin-right: 8px;
}

.toolbar {
  height: 42px;
  width: 100%;
  position: fixed;
  background-color: rgb(240, 240, 240);
  justify-content: space-between;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 1000;
}

.app-title {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.app-title-logo {
  width: 18px;
}

.app-title-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-standard-text);
  margin-left: 8px;
}

main {
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  box-sizing: inherit;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
}

fluent-button {
  min-width: 96px;
}

fluent-button[disabled]::part(control) {
  background-color: var(--color-disabled) !important;
  color: var(--color-primary-text-disabled);
  opacity: 1;
}

fluent-button::part(control) {
  background: var(--color-primary);
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 0 12px;
}

fluent-button:hover::part(control) {
  background-color: var(--color-primary-hover);
}

fluent-button.secondary::part(control) {
  background-color: white;
  border: var(--stroke-width-thin) solid var(--color-secondary-button-border);
  color: var(--color-standard-text);
}

fluent-button.secondary:hover::part(control) {
  background-color: var(--color-secondary-hover);
}

fluent-button.secondary[disabled]::part(control) {
  opacity: 1;
  color: var(--color-secondary-button-text-disabled);
  background-color: var(--color-disabled);
}

fluent-button.secondary[disabled]:hover::part(control) {
  background-color: var(--color-disabled);
}

.button-bar {
  position: fixed;
  top: 42px;
  left: 0;
  right: 0;
  display: flex;
  gap: 8px;
  padding: 8px;
  background: white;
  border-bottom: 1px solid var(--color-divider);
  justify-content: left;
  z-index: 999;
}

.content {
  position: fixed;
  top: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: auto;
  max-height: calc(100vh - 186px);
}

form {
  max-width: 900px;
  width: 100%;
  padding: 0 28px;
  padding-top: 20px;
}

.input-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.input-section label {
  font-weight: 500;
  color: var(--color-standard-text);
  font-size: var(--font-size-base-400);
  height: 32px;
  line-height: 32px;
}

.text-input {
  padding: 4px 8px;
  border: 1px solid var(--color-stroke);
  border-radius: var(--border-radius-medium);
  font-family: inherit;
  font-size: 14px;
}

textarea.text-input {
  resize: vertical;
  min-height: 80px;
}

.text-input:focus {
  outline: none;
  box-shadow: 0 0 0 var(--stroke-width-thick) var(--color-primary);
}

.text-input::placeholder {
  color: var(--color-placeholder-text);
}

app-recording {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-top: 1px solid var(--color-divider);
  z-index: 1000;
  width: 100%;
  padding: 20px 0;
  gap: 16px;
}
