<main>
  @if (toastMessage) {
    <app-toast [message]="toastMessage" [type]="toastType" />
  }

  @if (auth.isAuthenticated) {
    <div class="toolbar">
      <div class="app-title">
        <img src="dragon-copilot.svg" class="app-title-logo" />
        <span class="app-title-text">Microsoft Dragon Copilot SDK for JavaScript Sample</span>
      </div>
      <app-account [username]="auth.account?.username" [disabled]="!initialized" (signOut)="signOut()" />
    </div>
  } @else {
    <app-sign-in (signIn)="signIn()" [isSigningIn]="isSigningIn" />
  }

  @if (initialized) {
    <div class="button-bar">
      <fluent-button (click)="addControl()">Add Control</fluent-button>
      <fluent-button (click)="removeControl()" class="secondary" [disabled]="!hasDynamicControls()">
        Remove Control
      </fluent-button>
    </div>
    <div class="content">
      <form [formGroup]="form" novalidate>
        <div id="dynamic-inputs-section" formArrayName="dynamicInputs" data-dragon-container>
          @for (ctrl of dynamicInputs().controls; track $index) {
            <div class="input-section">
              <label [attr.for]="inputConfig[$index].labelFor">{{
                inputConfig[$index].labelText
              }}</label>
              @if (inputConfig[$index].controlType === 'input') {
                <input
                  #inputElement
                  [id]="inputConfig[$index].labelFor"
                  type="text"
                  placeholder="Dictate here..."
                  class="text-input"
                  [formControlName]="$index"
                  [attr.data-dragon-concept-name]="inputConfig[$index].conceptName"
                />
              } @else {
                <textarea
                  #inputElement
                  [id]="inputConfig[$index].labelFor"
                  placeholder="Dictate here..."
                  rows="4"
                  class="text-input"
                  [formControlName]="$index"
                  [attr.data-dragon-concept-name]="inputConfig[$index].conceptName"
                ></textarea>
              }
            </div>
          }
        </div>
      </form>
    </div>
    <app-recording
      [hasMicrophone]="hasMicrophone"
      [hasDynamicControls]="hasDynamicControls()"
      [recordingMode]="recordingMode"
      [volumeLevel]="volumeLevel"
      [processingDictation]="processingDictation"
      (toggleDictation)="toggleDictation()"
      (toggleAmbient)="toggleAmbient()"
    ></app-recording>
  }
</main>

<router-outlet />
